*{
	padding: 0;
	margin: 0;
	font-style: 20px;
	font-family: Arial;
}

a{
	text-decoration: none;
	color: #FFFFFF;
}

.header{
	padding: 30px;
	background: #596681;
	border-bottom: 5px solid #fd9a90;
}

.header span{
	color: #FFFFFF;
	margin-right: 400px;
}

.header a{
	padding: 30px;
}

.header a:hover{
	background: #80ff83;
	transition: 3s;
}

.header li{
	display: block;
}